# TODO @armantorkzaban: rebuild DB based on the current JSON data, re-enable this job
# name: ci

# on:
#   schedule:
#     - cron: '0 0 * * *'  # Run every day at midnight UTC
#   workflow_dispatch:


# env:
#   SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
#   SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
#   SUPABASE_USERS_EMAIL: ${{ secrets.SUPABASE_USERS_EMAIL }}
#   SUPABASE_USERS_PASSWORD: ${{ secrets.SUPABASE_USERS_PASSWORD }}

# jobs:
#   update-db:
#     name: Update Static Database
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#         with:
#           ref: main
          
#       - name: Set up Python 3.12
#         uses: actions/setup-python@v5
#         with:
#           python-version: 3.12
      
#       - name: Install dependencies
#         run: |
#           cd deploy/
#           python -m pip install --upgrade pip
#           python -m pip install pipenv
#           python -m pipenv install
      
#       - name: Update Database
#         run: |
#           cd deploy/
#           git pull
#           python -m pipenv run python update_db.py
#           python -m pipenv run python update_org_pages.py
      
#       - name: Commit and push changes
#         run: |
#           git config --global user.email "hi@atlasiran.org"
#           git config --global user.name "GitHub Actions"
#           git add *
#           git commit -m "Update database"
#           git push
